* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Logo;
  src: url(./fonts/mexcellent\ rg.otf);
}
@font-face {
  font-family: NormalText;
  src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

/* INITIAL SETUP  */

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 3vw;
  background-color: rgb(41, 41, 41);
  color: whitesmoke;
  font-family: Logo;
  letter-spacing: 3px;
  font-size: 1.3rem;
  position: sticky;
  top: 0;
}
header a {
  text-decoration: none;
  color: whitesmoke;
  background-color: teal;
  padding: 8px 18px;
  border-radius: 100px;
  transition: 0.3s;
}
header a:hover {
  color: rgb(0, 14, 14);
  transition: 0.3s;
}
